---
import Layout from "@layouts/Layout.astro";
import Navbar from "@components/navbar/navbar";
import Hero from "@components/hero/hero";
import About from "@components/about/about";
import Work from "@components/work/work";
import Services from "@components/services/services";
import Footer_banner from "@components/footer/footer-banner";
import Footer from "@components/footer/footer";
---
<Layout
	title={''}
	description={""}
	>
	<div class="absolute left-0 top-0 w-fit">
		<Navbar links={false} client:load/>
	</div>
	<Hero client:load/>
	<About client:visible/>
	<Work client:visible/>
	<Services client:visible/>
	<Footer_banner client:visible/>
	<Footer theme="v1" client:visible/>
</Layout>
