---
import Layout from "@layouts/Layout.astro";
import Navbar from "@components/navbar/navbar";
import Hero from "@components/hero/hero";
import About from "@components/about/about";
import Work from "@components/work/work";
import Services from "@components/services/services";
import Footer_banner from "@components/footer/footer-banner";
import Footer from "@components/footer/footer";
---
<Layout
	title={'50.one – Architecture That Inspires & Endures | Spaces for People, Places for Life'}
	description={"At 50.one, we transform imagination into form and complexity into clarity. Our architecture is crafted to inspire, endure, and reflect its context. Through exploration, collaboration, and timeless vision, we design meaningful spaces for people and places for life."}
	>
	<div class="absolute left-0 top-0 w-fit">
		<Navbar links={false} client:load/>
	</div>
	<Hero client:load/>
	<About client:visible/>
	<Work client:visible/>
	<Services client:visible/>
	<Footer_banner client:visible/>
	<Footer theme="v1" client:visible/>
</Layout>
